@import "layout/header";


@font-face {
  font-family: OPTIAlpine;
  src: url(../fonts/OPTIAlpine-Bold.otf);
}
@font-face {
  font-family: Effra_Std_Rg;
  src: url(../fonts/Effra_Std_Rg.ttf);
}
@font-face {
  font-family: Effra_Std_Bd;
  src: url(../fonts/Effra_Std_Bd.ttf);
}
@font-face {
  font-family: HARVATS;
  src: url(../fonts/HARVATS.ttf);
}
@font-face {
  font-family: Anton-Rg;
  src: url(../fonts/Anton-Regular.ttf);
}


/* @media screen and (min-width: 600px) {

}

@media screen and  (min-width: 600px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) {

} */

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box; /* removes border padding */
}


main {
  padding-right: 20px;
  padding-left: 20px;
  max-width: 720px;
}





.content-hero {
  background-image: url("https://img.bleacherreport.net/cms/media/image/cc/23/51/16/78ff/41b3/9eee/290b12dbbb85/crop_exact_GettyImages-1180778918.jpg?h=585&q=90&w=876");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: inherit;
  background-color: blue;
  margin-top: 80px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}

.footer {
  margin-top: 80px;
  display: flex;
  background-color: black;
  height: 300px;

}

ul {
  padding: 0px;
  margin: 0px;
}



article {
  margin-top: 120px;
  left: 5%;
  position: absolute;
  background-color: white;
  width: 25%;
  height: 45%;
  bottom: 7%;

}

h1, h2 {
  margin: 0px;
}


.outer-container {
  display: block;
}

.content-hero {
  display: block;
  height: 740px;
}
