@import "base/base";
@import "base/typography";

@import "layout/header";

@import "components/main-hero";
@import "components/app.scss";
@import "components/card.scss";
@import "components/champions.scss";
@import "components/content-hero-headline.scss";
@import "components/footer.scss";
@import "components/header.scss";
@import "components/main.scss";
@import "components/news-block.scss";
@import "components/style.scss";
@import "components/top-news.scss";
@import "components/trending.scss";
@import "components/video-carousel.scss";




.content-hero {
  background-image: url("https://img.bleacherreport.net/cms/media/image/cc/23/51/16/78ff/41b3/9eee/290b12dbbb85/crop_exact_GettyImages-1180778918.jpg?h=585&q=90&w=876");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: inherit;
  background-color: blue;
  margin-top: 80px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}

.footer {
  margin-top: 80px;
  display: flex;
  background-color: black;
  height: 300px;

}




article {
  margin-top: 120px;
  left: 5%;
  position: absolute;
  background-color: white;
  width: 25%;
  height: 45%;
  bottom: 7%;

}



.outer-container {
  display: block;
}

.content-hero {
  display: block;
  height: 740px;
}
