@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";


@import "base/base";
@import "base/animation";
@import "base/typography";
@import "base/utilities";

@import "components/bg-video";
@import "components/button";
@import "components/card";
@import "components/composition";
@import "components/feature-box";
@import "components/form";
@import "components/story";
@import "components/popup";




@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/navigation";

@import "pages/home";




.content-hero {
  background-image: url("https://img.bleacherreport.net/cms/media/image/cc/23/51/16/78ff/41b3/9eee/290b12dbbb85/crop_exact_GettyImages-1180778918.jpg?h=585&q=90&w=876");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: inherit;
  background-color: blue;
  margin-top: 80px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}

.footer {
  margin-top: 80px;
  display: flex;
  background-color: black;
  height: 300px;

}




article {
  margin-top: 120px;
  left: 5%;
  position: absolute;
  background-color: white;
  width: 25%;
  height: 45%;
  bottom: 7%;

}



.outer-container {
  display: block;
}

.content-hero {
  display: block;
  height: 740px;
}
