.content-hero {
  position: relative;
}

.content-hero-headline {
 background-color: #FFF;
 width: 350px;
 position: absolute;
 bottom: 7%;
 right: 5%;
}

.content-hero-headline-eyebrow {
  font-family: Effra_Std_Bd;
  background-color: #03fc96;
  display: flex;
  padding-top: 13px;
  padding-bottom: 13px;
  align-items: center;
}

.content-hero-headline-eyebrow-image {
  padding-right: 10px;
}

.content-hero-headline-eyebrow-label {
  font-weight: 900;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.content-hero-headline-title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-hero-headline-title-text {
  font-family: Anton-Rg;
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 56px;
  font-size: 50px;
  word-spacing: -3px;
  font-weight: 600;
 /* transform: scale(1, 2);*/
}

.content-hero-headline-title-hr {
 border: 5px solid black;
 background-color: black;
 width: 45px;
 display: inline-block;
}

.content-hero-headline-eyebrow,
.content-hero-headline-title {
  padding-left: 28px;
  padding-right: 28px;
}

.content-hero-credit {
  color: white;
  position: absolute;
  bottom: 3%;
  right: 5%;
  font-family: Effra_Std_Rg;
  font-weight: 700;
  font-style: italic;
  font-size: 12px;
}
