.main-hero {
  position: relative;
}

.main-hero-headline {
 background-color: #FFF;
 width: 400px;
 position: absolute;
 bottom: 7%;
 left: 20px;
}

.main-hero-headline-eyebrow {
  background-color: #03fc96;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.main-hero-headline-eyebrow-image {
  padding-right: 10px;
}

.main-hero-headline-eyebrow-label {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main-hero-headline-title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-hero-headline-title-text {
 font-family: OPTIAlpine;
 text-transform: uppercase;
 margin-bottom: 20px;
 line-height: 40px;
}

.main-hero-headline-title-hr {
 border: 5px solid black;
 background-color: black;
 width: 96px;
 display: inline-block;
}

.main-hero-headline-eyebrow,
.main-hero-headline-title {
  padding-left: 20px;
  padding-right: 20px;
}
