.nav-bar, li {
  display: flex;
  color: white;
}

.nav-bar a,
.login-container a {
  font-family: Effra_Std_Rg;
  font-size: 16px;
  font-weight: 600;
  padding:0 15px;
  padding-top:20px;
  padding-bottom: 20px;
  text-decoration: none;
  color: white;
}
.nav-bar a:hover,
.login-container a:hover,
.website-logo-container:hover
 {
  background-color: #2a2a2a;
}

.website-logo-container {
  display: flex;
  height: 100%;
  padding: 0 10px;
}

.website-logo-container-logo {
  align-self: center;
  display: block;
  width: 44px;
  fill: white;
}

.login-container {
  margin-left: auto;
  display: flex;
}

nav {
  list-style: none;
  display: flex;
  height: 60px;
}



.website-logo-container-immage {

}
