@font-face {
  font-family: OPTIAlpine;
  src: url(../../assets/fonts/OPTIAlpine-Bold.otf);
}
@font-face {
  font-family: Effra_Std_Rg;
  src: url(../../assets/fonts/Effra_Std_Rg.ttf);
}
@font-face {
  font-family: Effra_Std_Bd;
  src: url(../../assets/fonts/Effra_Std_Bd.ttf);
}
@font-face {
  font-family: HARVATS;
  src: url(../../assets/fonts/HARVATS.ttf);
}
@font-face {
  font-family: Anton-Rg;
  src: url(../../assets/fonts/Anton-Regular.ttf);
}
