//SCSS
.header {

  &__nav {
    background-color: black;
    /* height: 60px; */
  @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__nav-container {

  @media screen and (max-width: 1199px) {
      height: 0;
      visibility: hidden;
      transition: height 1s ease-out;
    }

  @media screen and (min-width: 1200px) {
      flex-basis: 100%;
      display: flex;
      justify-content: space-between;
    }

    &.is-open {
      height: 100%;
      visibility: visible;
    }
  }

  &__nav-bar {
    color: white;
    list-style: none;

  @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__nav-link {
    display: block;
    font-family: Effra_Std_Rg;
    font-size: 16px;
    font-weight: 600;
    padding:0 15px;
    padding-top:20px;
    padding-bottom: 20px;
    text-decoration: none;
    color: white;
  }

  &__nav-link:hover,
  &__logo:hover {
    background-color: #2a2a2a;
  }

  &__logo {
    display: flex;
    height: 100%;
    padding: 0 10px;
  }

  &__logo-image {
    align-self: center;
    display: block;
    width: 44px;
    fill: white;
  }

  &__login {

  @media screen and (min-width: 1200px) {
      /* margin-left: auto;
      display: flex; */
    }
  }

  &__nav-toggle {

    @media screen and (min-width: 1200px) {
        display: none;
      }
    }

  &__main-bar {

  @media screen and (max-width: 1199px) {
      display: flex;
      justify-content: space-between;
    }
  }
}
